<div class="container col-8">
  <div class="card card-trip">
    <%= cl_image_tag @booking.yacht.photo.key, crop: :fill %>
  </div>
  <div class="card card-trip">
    <div class="card-trip-infos">
      <div>
        <h2><%= @booking.yacht.yacht_name %> in <%= @booking.yacht.yacht_location %></p></h2>
        <p>Check-in: <%= @booking.start_date %> Checkout: <%= @booking.end_date %></p>
        <p><%= @booking.yacht.description %></p>
        <h6>Booking price: £<%= @total %></h6>
      </div>
      <p>Hosted by Tom</p>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" id="user-avatar" class="card-trip-user" />
    </div>
  </div>
</div>
