<div class ="container">
  <% if @bookings.length > 0 %>
    <% @bookings.each do |booking| %>
      <div class="card">
        <div class="card-header">
          <%= "From: #{booking.start_date} To: #{booking.end_date}" %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= "#{booking.yacht.yacht_name}" %></h5>
          <p class="card-text"><%= "#{booking.yacht.description}" %></p>
          <%= link_to yacht_booking_path(booking.yacht_id, booking.id) do %>
            <button class="btn btn-primary">View This Booking</button>
          <% end %>
        </div>
        <div class="card-footer">
          <p class="card-text"><%= "#{booking.yacht.yacht_location}" %></p>
        </div>
      </div>
    <% end %>
  <% else %>
  <p> You don't have any bookings yet. Why not view our <%= link_to "available yachts?", yachts_path %></p>
  <% end %>
</div>
