<div class ="container">
  <% if @bookings.length > 0 %>
  <h1 class="my-5">My Bookings</h1>
  <div class="booking-container">
    <% @bookings.each do |booking| %>
    <div class="booking-card">
      <div>
        <h3><%= booking.yacht.yacht_name %> - <%= booking.yacht.yacht_location %></h3>
        <span><%= "#{booking.start_date} - #{booking.end_date}" %></span>
      </div>
      <div>
        <%= link_to "View Booking", yacht_booking_path(booking.yacht, booking), class: 'btn btn-primary no-margin rounded-0' %>
      </div>
    </div>
    <% end %>
    <% else %>
    <p class="my-5"> You don't have any bookings yet. Why not view our <%= link_to "available yachts?", yachts_path %></p>
    <% end %>
  </div>
</div>


