<div class="container">
  <h3 class="text-center">New yacht</h3>
  <%= simple_form_for(@yacht) do |f| %>
  <%= f.input :yacht_name %>
  <%= f.input :cost_per_night %>
  <%= f.input :yacht_location %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create yacht", class: "btn btn-primary" %>
  <% end %>
</div>
