<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <%= "This yacht is moored in #{@yacht.yacht_location}" %>
        </div>
        <%= cl_image_tag @yacht.photo.key, crop: :fill, class: "yacht_show_image" %>
        <div class="card-body">
          <h5 class="card-title"><%= @yacht.yacht_name %></h5>
          <p><%= @yacht.description %></p>
        </div>
        <div class="card-footer">
          <%= "From £#{@yacht.cost_per_night} per night" %>
        </div>
      </div>
      <div class="card">
        <h3 class="text-center pt-3">Book this Yacht</h3>
        <p class="pl-4" style="margin-bottom: 0px">reservation dates:</p>
        <div class="col d-flex justify-content-center text-center">
          <%= simple_form_for [@yacht, @booking] do |f| %>
          <div class="date_picker"><%= f.input :start_date, as: :date, html5: true, label: false, input_html: { value: Date.today } %></div>
          <div class="date_picker"><%= f.input :end_date, as: :date, html5: true, label: false, input_html: { value: Date.today } %></div>
          <!-- need to get innerHTML for changing value  -->
          <div class="text-right pr-4">
            <p style="display:inline"><p id="booking_days" style="display:inline" class="pl-4 text-right">0</p> days x £<%= @yacht.cost_per_night %></p>
            <p style="display:inline">Subtotal: £<p style="display:inline" id="subtotal" data-subtotal="<%= @yacht.cost_per_night %>">0</p></p>
          </div>
          <%= f.submit "Create booking", class: "btn btn-primary text-center" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="map"
      style="width: 90%; height: 100vh; margin-top: 15px; position: sticky:top:0;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
</div>
