<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <%= "This yacht is moored in #{@yacht.yacht_location}" %>
        </div>
        <%= cl_image_tag @yacht.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-body">
          <h5 class="card-title"><%= @yacht.yacht_name %></h5>
          <p class="card-text"><%= @yacht.description %></p>
          <%= link_to new_yacht_booking_path(@yacht.id) do %>
            <button class="btn btn-primary">Book This Yacht</button>
        <% end %>
        </div>
        <div class="card-footer">
        <%= "From £#{@yacht.cost_per_night} per night" %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="map"
         style="width: 90%; height: 100vh; position: sticky:top:0;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
