<!DOCTYPE html>
<html>
  <head>
    <title>Rbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
    <div class="container">
      <h1 class="text-center m-3">Prestige WorldWide</h1>
      <div class="nav">
        <%= link_to "Create yacht", new_yacht_path, class: "btn btn-dark m-2" %>
        <%= link_to "View yachts", yachts_path, class: "btn btn-dark m-2" %>
      </div>
    </div>
  </body>
  </html>
