<!DOCTYPE html>
<html>
  <head>
    <title>Prestige WorldWide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
    <%= stylesheet_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- <link rel="stylesheet" href="index.css"> -->
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container">
        <%= link_to "/", class: "navbar-brand" do %>
          <span class="circle-icon"><i class="fas fa-anchor"></i></span>
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "List My Yacht", new_yacht_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Search Yachts", yachts_path,  class: "nav-link" %>
            </li>
            <% if current_user %>
              <li class="nav-item dropdown">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                  <%= link_to "View my bookings", "/users/bookings", class: "dropdown-item" %>
                  <%= link_to "View my Yachts", "/users/yachts", class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "navbar-brand" do %>
                  <span class="circle-icon"><i class="fas fa-sign-in-alt"></i></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
  </html>
